*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

section{
    width: 150px;
    min-height: 120px;
    margin-bottom: 20px;
    margin-left: 50px;
}
section > ul{
    width: 100%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

section > ul > li:nth-child(1){
    background: #3f74ff;
    font-weight: bold;
}

section > ul > li{
    width:100%;
    height: 20px;
    padding: 10px;
    background: #f1f7f3;
}

section > ul > li:hover{
    background: #b0acb6;
    cursor: pointer;
}

section > ul > li:nth-child(1):hover{
    background: #3f74ff;
}

section > ul > li:active{
    background: #3f74ff;
}